/* -----advertisement section----- */
.advertisement-section {
  padding: 80px 10px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
}

.advertisement-section-container {
  padding: 0;
  margin: auto;
  max-width: 375px;
}

.advertisement-title {
  display: block;
  font-family: Inter Tight;
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.01em;
  text-align: left;
  text-transform: uppercase;
}

.advertisement-color-accent {
  display: flex;
  max-width: 355px;
  margin: 0;
  width: 100%;
  padding: 3px 10px;
  border-radius: 12px;
  color: #fbfbfb;
  background-color: #576f35;
}

.advertisement-text {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 10px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .advertisement-section-container {
    max-width: 704px;
  }

  .advertisement-section {
    padding: 100px 16px;
  }

  .advertisement-color-accent {
    max-width: 736px;
    padding: 8px 16px;
  }

  .advertisement-title {
    font-size: 64px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement-section {
    padding: 100px 100px;
  }

  

  .advertisement-section-container {
    max-width: 1280px;
  }

  .advertisement-title {
    width: 1080px;
    font-size: 76px;
    line-height: 1.05;
    position: relative;
    padding-left: 13px;
  }

  .advertisement-text {
    display: inline;
    padding: 0;
  }

  .advertisement-title .advertisement-color-accent {
    width: 808px;
    color: #fbfbfb;
    padding: 0 13px;
    display: inline;
    border-radius: 13px;
    margin-left: -13px;
  }
}
