/* ====================Section Hero=================== */
/*======Mobile======*/
/* .containter-pad-mob {
  padding: 80px 0 80px 0;
} */
.section-hero {
  max-width: 375px;
  min-height: 712px;
  background-color: #576f35;
  background-size: 375px 370px;
  background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero/bg-vegetables-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0 auto;
}
.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
      url(/img/hero/bg-vegetables-mob@2x.jpg);
  }
}
/*======/Mobile======*/
/*======Tablet======*/
@media screen and (min-width: 768px) {
  /* .container-pad {
    padding: 100px 0 100px 0;
  } */
  .section-hero {
    max-width: 768px;
    min-height: 902px;
    background-size: 768px 539px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
      url(/img/hero/bg-vegetables-tab.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
  }
  .hero-title {
    font-weight: 600;
    font-size: 76px;
    margin-bottom: 25px;
  }
  .hero-text {
    max-width: 603px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 767px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
      url(/img/hero/bg-vegetables-tab@2x.jpg);
  }
}
/*======/Tablet======*/
/*======Desktop======*/
@media screen and (min-width: 1280px) {
  .section-hero {
    max-width: 1280px;
    min-height: 800px;
    background-size: 650px 800px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero/bg-vegetables.jpg);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding: 0;
    margin: 0 0 0 100px;
    max-width: 502px;
    max-height: 562px;
  }
  .hero-title {
    margin-top: 238px;
    margin-bottom: 0;
  }
  .hero-text {
    max-width: 472px;
    margin-bottom: 0px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero/bg-vegetables@2x.jpg);
  }
}
/*======/Desktop======*/
/* =======================/Hero========================= */
