.how-it-works{
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: #7A3145;
} 

.image-container{
    height: 530px;
    align-items: center;
    padding-top: 40px;
}

.selected-words{
    color: rgba(251, 251, 251, 0.3);
}
.order-section{
     background-color: #576F35;
}
.order-section-content{
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}
.how-it-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    counter-reset: my-counter;
}
.how-it-list li::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    font-weight: 700;
    color: white;
    background-color: #7A3145;
    border-radius: 100%;
    border: 5px #d4bec4 solid;
    min-width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.how-it-list-chapter{
    background-color: #FBFBFB;
    max-width: 335px;
    border-radius: 15px;
    display: flex;
    gap: 24px;
    padding: 12px 24px;
    align-items: center;
}


.how-it-works_image{
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.how-it-works-title{
    color: #FBFBFB;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1,5%;
    margin-bottom: 20px;
}
.how-it-works-paragraph{
    color: #FBFBFB;
    margin-bottom: 40px;
    height: 54px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    
}
.list-selected-words{
    color: rgba(20, 20, 20, 1);
    font-weight: 700;
}
.how-it-works-list-paragraph{
    color: rgba(20, 20, 20, 0.6);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    min-width: auto;
}

@media screnn and (max-width: 768px){
    .container-pad{
        padding: 0;
    }
}

@media screen and (min-width: 768px){
    .container-pad{
        padding: 100px 0 100px 0;
    }
      .container-pad-mob{
        padding: 0;
      }
     
      .order-section-content{
        max-width: 450px;
    }
    .image-container{
        padding-top: 100px;
        min-height: 840px;
    }
    .how-it-works-paragraph{
        font-size: 16px;
        line-height: 125%;  
        height: 60px;
    }
    .how-it-works-list-paragraph{
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.02em;
    }
    .how-it-works-title{
        font-size: 32px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        line-height: 100%;
    }
    .how-it-list-chapter{
        max-width: 450px;
        padding: 12px 25px 12px 24px;
    }
}
@media screen and (min-width: 1280px){
    .how-it-works{
            flex-direction: row;
        }
        .image-container{
            min-height: 840px;
            width: calc(100%/2);
        }    
        .order-section{
            width: calc(100%/2);
        }
        .how-it-works-title{
            margin-bottom: 25px;
        }
        .how-it-works-paragraph{
            margin-bottom: 50px;
        }
}